<div class="container">

<h2>Perfil</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name, "Nome" %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, "Senha" %> <i>(Deixe em branco caso não queria modificar)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirme sua senha" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password, "Senha atual" %> <br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <button class="btn waves-effect waves-light" type="submit" name="action">Atualizar
      <i class="material-icons right">send</i>
    </button>
  </div>
<% end %>

<%= link_to "Voltar", :back %>

</div>